@charset "utf-8";
@import "normalize";
@import "bourbon/bourbon";
@import "neat/neat";

$yellow: #ead143;
$mauve:  #844875;
$pink :  #c059a6;

html { font: normal normal 18px/1.5 ff-tisa-web-pro, serif; }

body {
  background: #362131 url(http://abstractions.io/images/bg-texture.png);
  color: #fff;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.7rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.2rem; }
h5 { font-size: 1.1rem; }

a {
  color: $pink;
  text-decoration: none;

  &:hover, &:active {
    color: $yellow;
  }
}

#schedule {
  @include outer-container;
  margin: 1rem auto;
}

.day {
  margin: 0 0 1rem;
  overflow: auto;
  padding: 0 0 0.5rem;

  .day-title {
    background: $yellow;
    color: $mauve;
    padding: 0.25rem;
  }
}

.stage {
  @include span-columns(6);
  float: left;

  &[data-stage="Main Stage B"],
  &[data-stage="Large Stage 2"] {
    margin-right: 0;
  }

  &[data-stage="Main Stage"],
  &[data-stage="Distractions"],
  &[data-stage="Small Stage"] {
    @include span-columns(12);
  }

  .stage-name {
    background: $pink;
    color: $yellow;
    text-align: center;
    padding: 0.25rem;
  }
}

.speaker {
  border-bottom: 1px solid $yellow;
  clear: both;
  padding: 1.5rem 0;

  &:last-of-type {
    border: none;
  }

  .speaker-image {
    float: left;
    height: 4rem;
    margin: 0 1.5rem 0 0;
  }

  .speaker-name { line-height: 1; }
  .speaker-location { font-weight: bold; }
  .speaker-bio { font-style: italic; font-size: 0.9rem; }
  .speaker-twitter {
    img { height: 0.75rem; }
  }
}

.stage[data-stage="Distractions"],
.stage[data-stage="Small Stage"] {
  .speaker {
    @include span-columns(4);
    clear: none;

    &:nth-child(3n) { margin-right: 0; }
  }
}

.session {
  clear: both;
  padding: 0.5rem 0 0;

  .session-description {
    font-size: 0.8rem;
  }
}

.sessions-thirds {
  @include span-columns(12);
  border-bottom: 1px solid $yellow;

  .speaker {
    border: none;
  }
}

footer {
  background: rgba(132, 72, 117, 0.25);
  border-top: 1px solid $pink;
  font-size: 1.1rem;
  padding: 2rem;

  img { height: 0.8rem; }
}
