!!! 5
%html{ lang: "en" }
  %head
    %title Abstractions
    = stylesheet_link_tag "site"
    %meta{ content: "width=device-width, initial-scale=1.0", name: "viewport" }

  %body
    %main#schedule= yield

    %footer
      Made with ♥ by
      %a{ href: "https://twitter.com/_jnf" } jnf
      for his friends at
      %a{ href: "http://abstractions.io/" }
        %img{ src: "http://abstractions.io/images/logo.svg", alt: "Abstractions logo featuring circuit details." }
      %br
      %a{ href: "https://github.com/jnf/abstractions-schedule" } Source available on Github.
