!!! 5
%html{ lang: "en" }
  %head
    %title Abstractions
    = stylesheet_link_tag "site"
    %meta{ content: "width=device-width, initial-scale=1.0", name: "viewport" }

  %body
    %main#schedule= yield
