- small_counter = 0
- data.schedule.days.each do |day|
  .day
    %h2.day-title= day.name
    - day.stages.each do |stage|
      .stage{ data: { stage: stage.name } }
        %h3.stage-name= stage.name
        - if stage.name == "Small Stage" || stage.name == "Distractions"
          = partial(:thirds, locals:  { sessions: stage.sessions } )
        - else
          = partial(:sessions, locals: { sessions: stage.sessions } )
